<?xml version="1.0" encoding="UTF-8"?>
<config_root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="config.xsd">
  <datarelease>CISPub</datarelease>
  <basic_filter>
    <nodeid>11157</nodeid>
    <filter_id>101</filter_id>
    <basic_filt_order>1000</basic_filt_order>
    <basic_filt_action>1</basic_filt_action>
    <ip_prot>6</ip_prot>
    <dst_porthigh>21</dst_porthigh>
    <dst_portlow>21</dst_portlow>
  </basic_filter>
  <basic_filter>
    <nodeid>11157</nodeid>
    <filter_id>101</filter_id>
    <basic_filt_order>2000</basic_filt_order>
    <basic_filt_action>1</basic_filt_action>
    <ip_prot>6</ip_prot>
    <dst_porthigh>22</dst_porthigh>
    <dst_portlow>22</dst_portlow>
  </basic_filter>
  <basic_filter>
    <nodeid>11157</nodeid>
    <filter_id>101</filter_id>
    <basic_filt_order>3000</basic_filt_order>
    <basic_filt_action>1</basic_filt_action>
    <ip_prot>17</ip_prot>
    <dst_porthigh>22</dst_porthigh>
    <dst_portlow>22</dst_portlow>
  </basic_filter>
  <basic_filter>
    <nodeid>11157</nodeid>
    <filter_id>101</filter_id>
    <basic_filt_order>4000</basic_filt_order>
    <basic_filt_action>1</basic_filt_action>
    <ip_prot>6</ip_prot>
    <dst_porthigh>23</dst_porthigh>
    <dst_portlow>23</dst_portlow>
  </basic_filter>
  <basic_filter>
    <nodeid>11157</nodeid>
    <filter_id>101</filter_id>
    <basic_filt_order>5000</basic_filt_order>
    <basic_filt_action>1</basic_filt_action>
    <ip_prot>17</ip_prot>
    <dst_porthigh>67</dst_porthigh>
    <dst_portlow>67</dst_portlow>
  </basic_filter>
  <basic_filter>
    <nodeid>11157</nodeid>
    <filter_id>101</filter_id>
    <basic_filt_order>6000</basic_filt_order>
    <basic_filt_action>1</basic_filt_action>
    <ip_prot>17</ip_prot>
    <dst_porthigh>68</dst_porthigh>
    <dst_portlow>68</dst_portlow>
  </basic_filter>
  <basic_filter>
    <nodeid>11157</nodeid>
    <filter_id>101</filter_id>
    <basic_filt_order>7000</basic_filt_order>
    <basic_filt_action>1</basic_filt_action>
    <ip_prot>17</ip_prot>
    <dst_porthigh>69</dst_porthigh>
    <dst_portlow>69</dst_portlow>
  </basic_filter>
  <basic_filter>
    <nodeid>11157</nodeid>
    <filter_id>101</filter_id>
    <basic_filt_order>8000</basic_filt_order>
    <basic_filt_action>1</basic_filt_action>
    <ip_prot>6</ip_prot>
    <dst_porthigh>161</dst_porthigh>
    <dst_portlow>161</dst_portlow>
  </basic_filter>
  <basic_filter>
    <nodeid>11157</nodeid>
    <filter_id>101</filter_id>
    <basic_filt_order>9000</basic_filt_order>
    <basic_filt_action>1</basic_filt_action>
    <ip_prot>17</ip_prot>
    <dst_porthigh>161</dst_porthigh>
    <dst_portlow>161</dst_portlow>
  </basic_filter>
  <basic_filter>
    <nodeid>11157</nodeid>
    <filter_id>101</filter_id>
    <basic_filt_order>10000</basic_filt_order>
    <basic_filt_action>1</basic_filt_action>
    <ip_prot>6</ip_prot>
    <dst_porthigh>162</dst_porthigh>
    <dst_portlow>162</dst_portlow>
  </basic_filter>
  <basic_filter>
    <nodeid>11157</nodeid>
    <filter_id>101</filter_id>
    <basic_filt_order>11000</basic_filt_order>
    <basic_filt_action>1</basic_filt_action>
    <ip_prot>17</ip_prot>
    <dst_porthigh>162</dst_porthigh>
    <dst_portlow>162</dst_portlow>
  </basic_filter>
  <basic_filter>
    <nodeid>11157</nodeid>
    <filter_id>101</filter_id>
    <basic_filt_order>12000</basic_filt_order>
    <basic_filt_action>1</basic_filt_action>
    <ip_prot>6</ip_prot>
    <dst_porthigh>1318</dst_porthigh>
    <dst_portlow>1318</dst_portlow>
  </basic_filter>
  <basic_filter>
    <nodeid>11157</nodeid>
    <filter_id>101</filter_id>
    <basic_filt_order>13000</basic_filt_order>
    <basic_filt_action>1</basic_filt_action>
    <ip_prot>6</ip_prot>
    <dst_porthigh>9988</dst_porthigh>
    <dst_portlow>9988</dst_portlow>
  </basic_filter>
  <basic_filter>
    <nodeid>11157</nodeid>
    <filter_id>101</filter_id>
    <basic_filt_order>14000</basic_filt_order>
    <basic_filt_action>1</basic_filt_action>
    <ip_prot>6</ip_prot>
    <dst_porthigh>111</dst_porthigh>
    <dst_portlow>111</dst_portlow>
  </basic_filter>
  <basic_filter>
    <nodeid>11157</nodeid>
    <filter_id>101</filter_id>
    <basic_filt_order>15000</basic_filt_order>
    <basic_filt_action>1</basic_filt_action>
    <ip_prot>17</ip_prot>
    <dst_porthigh>111</dst_porthigh>
    <dst_portlow>111</dst_portlow>
  </basic_filter>
  <basic_filter>
    <nodeid>11157</nodeid>
    <filter_id>102</filter_id>
    <basic_filt_order>1000</basic_filt_order>
    <basic_filt_action>1</basic_filt_action>
    <ip_prot>17</ip_prot>
    <dst_porthigh>16017</dst_porthigh>
    <dst_portlow>16016</dst_portlow>
  </basic_filter>
  <coco_net_addr>
    <nodeid>11157</nodeid>
    <sys_intf_id>1</sys_intf_id>
    <net_addr_priority>1</net_addr_priority>
    <dst_ip_addr>172.22.242.150</dst_ip_addr>
  </coco_net_addr>
  <coco_net_addr>
    <nodeid>11157</nodeid>
    <sys_intf_id>1</sys_intf_id>
    <net_addr_priority>2</net_addr_priority>
    <dst_ip_addr>172.22.244.150</dst_ip_addr>
  </coco_net_addr>
  <coco_net_addr>
    <nodeid>11157</nodeid>
    <sys_intf_id>2</sys_intf_id>
    <net_addr_priority>1</net_addr_priority>
    <dst_ip_addr>172.22.242.150</dst_ip_addr>
  </coco_net_addr>
  <coco_net_addr>
    <nodeid>11157</nodeid>
    <sys_intf_id>2</sys_intf_id>
    <net_addr_priority>2</net_addr_priority>
    <dst_ip_addr>172.22.244.150</dst_ip_addr>
  </coco_net_addr>
  <coco_net_addr>
    <nodeid>11157</nodeid>
    <sys_intf_id>3</sys_intf_id>
    <net_addr_priority>1</net_addr_priority>
    <dst_ip_addr>172.22.242.150</dst_ip_addr>
  </coco_net_addr>
  <coco_net_addr>
    <nodeid>11157</nodeid>
    <sys_intf_id>3</sys_intf_id>
    <net_addr_priority>2</net_addr_priority>
    <dst_ip_addr>172.22.244.150</dst_ip_addr>
  </coco_net_addr>
  <coco_net_addr>
    <nodeid>11157</nodeid>
    <sys_intf_id>4</sys_intf_id>
    <net_addr_priority>1</net_addr_priority>
    <dst_ip_addr>172.22.244.160</dst_ip_addr>
  </coco_net_addr>
  <coco_net_addr>
    <nodeid>11157</nodeid>
    <sys_intf_id>5</sys_intf_id>
    <net_addr_priority>1</net_addr_priority>
    <dst_ip_addr>172.22.244.160</dst_ip_addr>
  </coco_net_addr>
  <coco_net_addr>
    <nodeid>11157</nodeid>
    <sys_intf_id>6</sys_intf_id>
    <net_addr_priority>1</net_addr_priority>
    <dst_ip_addr>172.22.244.160</dst_ip_addr>
  </coco_net_addr>
  <eth_interface>
    <nodeid>11157</nodeid>
    <eth_intf_id>11</eth_intf_id>
    <eth_intf_name>11157 RTP</eth_intf_name>
    <vlan_id>0</vlan_id>
    <interface_type>6</interface_type>
    <ins_prior>0</ins_prior>
    <prior_value>0</prior_value>
  </eth_interface>
  <eth_interface>
    <nodeid>11157</nodeid>
    <eth_intf_id>10</eth_intf_id>
    <eth_intf_name>11157 User Traffic</eth_intf_name>
    <vlan_id>0</vlan_id>
    <interface_type>2</interface_type>
    <ins_prior>0</ins_prior>
    <prior_value>0</prior_value>
  </eth_interface>
  <filter>
    <nodeid>11157</nodeid>
    <filter_id>101</filter_id>
    <filter_name>Default VoIP Filters</filter_name>
  </filter>
  <filter>
    <nodeid>11157</nodeid>
    <filter_id>102</filter_id>
    <filter_name>RTP Black Hole</filter_name>
  </filter>
  <filter_grp_member>
    <nodeid>11157</nodeid>
    <intf_id>11</intf_id>
    <sub_type>2</sub_type>
    <filter_direction>1</filter_direction>
    <member_order>1</member_order>
    <filter_id>102</filter_id>
  </filter_grp_member>
  <filter_grp_member>
    <nodeid>11157</nodeid>
    <intf_id>11</intf_id>
    <sub_type>2</sub_type>
    <filter_direction>1</filter_direction>
    <member_order>2</member_order>
    <filter_id>101</filter_id>
  </filter_grp_member>
  <filter_grp_member>
    <nodeid>11157</nodeid>
    <intf_id>10</intf_id>
    <sub_type>2</sub_type>
    <filter_direction>1</filter_direction>
    <member_order>3</member_order>
    <filter_id>101</filter_id>
  </filter_grp_member>
  <gain_control_profile>
    <nodeid>11157</nodeid>
    <agc_profileid>1</agc_profileid>
    <agc_prf_name>Default profile</agc_prf_name>
    <ip_mode>0</ip_mode>
    <ip_tx_level>0</ip_tx_level>
    <ip_rx_level>0</ip_rx_level>
  </gain_control_profile>
  <h248_interface>
    <nodeid>11157</nodeid>
    <sys_intf_id>1</sys_intf_id>
    <h248_domain_name>conf-ms111.iskrtel.mak</h248_domain_name>
    <h248_intf_id>43</h248_intf_id>
    <h248_intf_prf_id>1</h248_intf_prf_id>
    <intf_func>3</intf_func>
    <h248_intf_options>1</h248_intf_options>
    <h248_ns_prf_id>0</h248_ns_prf_id>
  </h248_interface>
  <h248_interface>
    <nodeid>11157</nodeid>
    <sys_intf_id>2</sys_intf_id>
    <h248_domain_name>VMSms111.iskratel.mak</h248_domain_name>
    <h248_intf_id>42</h248_intf_id>
    <h248_intf_prf_id>1</h248_intf_prf_id>
    <intf_func>5</intf_func>
    <h248_intf_options>1</h248_intf_options>
    <h248_ns_prf_id>0</h248_ns_prf_id>
  </h248_interface>
  <h248_interface>
    <nodeid>11157</nodeid>
    <sys_intf_id>3</sys_intf_id>
    <h248_domain_name>proxy-ms111.iskratel.mak</h248_domain_name>
    <h248_intf_id>45</h248_intf_id>
    <h248_intf_prf_id>1</h248_intf_prf_id>
    <intf_func>6</intf_func>
    <h248_intf_options>1</h248_intf_options>
    <h248_ns_prf_id>0</h248_ns_prf_id>
  </h248_interface>
  <h248_interface>
    <nodeid>11157</nodeid>
    <sys_intf_id>4</sys_intf_id>
    <h248_domain_name>VMSms111-ta112.iskratel.mak</h248_domain_name>
    <h248_intf_id>142</h248_intf_id>
    <h248_intf_prf_id>1</h248_intf_prf_id>
    <intf_func>5</intf_func>
    <h248_intf_options>1</h248_intf_options>
    <h248_ns_prf_id>0</h248_ns_prf_id>
  </h248_interface>
  <h248_interface>
    <nodeid>11157</nodeid>
    <sys_intf_id>5</sys_intf_id>
    <h248_domain_name>conf-ms111-ta112.iskrtel.mak</h248_domain_name>
    <h248_intf_id>143</h248_intf_id>
    <h248_intf_prf_id>1</h248_intf_prf_id>
    <intf_func>3</intf_func>
    <h248_intf_options>1</h248_intf_options>
    <h248_ns_prf_id>0</h248_ns_prf_id>
  </h248_interface>
  <h248_interface>
    <nodeid>11157</nodeid>
    <sys_intf_id>6</sys_intf_id>
    <h248_domain_name>proxy-ms111-ta112.iskratel.mak</h248_domain_name>
    <h248_intf_id>145</h248_intf_id>
    <h248_intf_prf_id>1</h248_intf_prf_id>
    <intf_func>6</intf_func>
    <h248_intf_options>1</h248_intf_options>
    <h248_ns_prf_id>0</h248_ns_prf_id>
  </h248_interface>
  <h248_intf_profile>
    <nodeid>11157</nodeid>
    <h248_intf_prf_id>1</h248_intf_prf_id>
    <profile_name>profile1</profile_name>
    <max1num_retrans>7</max1num_retrans>
    <init_retrans_delay>200</init_retrans_delay>
    <max_retrans_delay>4000</max_retrans_delay>
    <tmax_retrans_dur>2000</tmax_retrans_dur>
    <max_transact_dur>7000</max_transact_dur>
    <mg_provis_resp_tm>32767</mg_provis_resp_tm>
    <mgorig_pend_limit>7</mgorig_pend_limit>
    <mgcorig_pend_limit>7</mgcorig_pend_limit>
    <intf_present>1</intf_present>
    <acc_present>1</acc_present>
    <ch_present>1</ch_present>
    <add_stst_desc>1</add_stst_desc>
    <eph_term_pfx>E</eph_term_pfx>
  </h248_intf_profile>
  <h248_intf_profile>
    <nodeid>11157</nodeid>
    <h248_intf_prf_id>2</h248_intf_prf_id>
    <profile_name>profile2</profile_name>
    <max1num_retrans>7</max1num_retrans>
    <init_retrans_delay>200</init_retrans_delay>
    <max_retrans_delay>4000</max_retrans_delay>
    <tmax_retrans_dur>2000</tmax_retrans_dur>
    <max_transact_dur>7000</max_transact_dur>
    <mg_provis_resp_tm>160</mg_provis_resp_tm>
    <mgorig_pend_limit>7</mgorig_pend_limit>
    <mgcorig_pend_limit>7</mgcorig_pend_limit>
    <intf_present>1</intf_present>
    <acc_present>1</acc_present>
    <ch_present>1</ch_present>
    <add_stst_desc>1</add_stst_desc>
    <eph_term_pfx>E</eph_term_pfx>
  </h248_intf_profile>
  <h248_nonstd_prf>
    <nodeid>11157</nodeid>
    <h248_ns_prf_id>0</h248_ns_prf_id>
    <h248_prf_name>Default</h248_prf_name>
    <h248_prf_data>0</h248_prf_data>
  </h248_nonstd_prf>
  <ip_device>
    <nodeid>11157</nodeid>
    <eth_intf_id>10</eth_intf_id>
    <ip_addr>172.22.242.157</ip_addr>
    <ip_mask>255.255.254.0</ip_mask>
  </ip_device>
  <ip_device>
    <nodeid>11157</nodeid>
    <eth_intf_id>11</eth_intf_id>
    <ip_addr>172.24.77.209</ip_addr>
    <ip_mask>255.255.255.240</ip_mask>
  </ip_device>
  <ip_route>
    <nodeid>11157</nodeid>
    <dest_ip_addr>0.0.0.0</dest_ip_addr>
    <gw_ip_addr>172.24.77.222</gw_ip_addr>
    <subnet_mask>0.0.0.0</subnet_mask>
    <route_metric>1</route_metric>
    <pmtu>1500</pmtu>
    <route_dsc>Route RTP</route_dsc>
  </ip_route>
  <ip_route>
    <nodeid>11157</nodeid>
    <dest_ip_addr>172.18.138.0</dest_ip_addr>
    <gw_ip_addr>172.19.193.254</gw_ip_addr>
    <subnet_mask>255.255.255.128</subnet_mask>
    <route_metric>1</route_metric>
    <pmtu>1500</pmtu>
    <route_dsc>Route to MAK1 subnet PC-s</route_dsc>
  </ip_route>
  <ip_route>
    <nodeid>11157</nodeid>
    <dest_ip_addr>172.18.138.128</dest_ip_addr>
    <gw_ip_addr>172.19.193.254</gw_ip_addr>
    <subnet_mask>255.255.255.128</subnet_mask>
    <route_metric>1</route_metric>
    <pmtu>1500</pmtu>
    <route_dsc>Default MN Upper Subnet</route_dsc>
  </ip_route>
  <ip_route>
    <nodeid>11157</nodeid>
    <dest_ip_addr>172.18.245.0</dest_ip_addr>
    <gw_ip_addr>172.19.193.254</gw_ip_addr>
    <subnet_mask>255.255.255.0</subnet_mask>
    <route_metric>1</route_metric>
    <pmtu>1500</pmtu>
    <route_dsc>Default MN second MN part</route_dsc>
  </ip_route>
  <ip_route>
    <nodeid>11157</nodeid>
    <dest_ip_addr>172.18.254.0</dest_ip_addr>
    <gw_ip_addr>172.19.193.254</gw_ip_addr>
    <subnet_mask>255.255.255.0</subnet_mask>
    <route_metric>1</route_metric>
    <pmtu>1500</pmtu>
    <route_dsc>Default MN part 1</route_dsc>
  </ip_route>
  <ip_route>
    <nodeid>11157</nodeid>
    <dest_ip_addr>172.22.243.150</dest_ip_addr>
    <gw_ip_addr>172.24.77.222</gw_ip_addr>
    <subnet_mask>255.255.255.255</subnet_mask>
    <route_metric>1</route_metric>
    <pmtu>1500</pmtu>
    <route_dsc>Route RTP to abacus sip Gnidovec</route_dsc>
  </ip_route>
  <ip_route>
    <nodeid>11157</nodeid>
    <dest_ip_addr>172.22.244.0</dest_ip_addr>
    <gw_ip_addr>172.22.243.254</gw_ip_addr>
    <subnet_mask>255.255.255.0</subnet_mask>
    <route_metric>1</route_metric>
    <pmtu>1500</pmtu>
    <route_dsc>IMS112</route_dsc>
  </ip_route>
  <ip_route>
    <nodeid>11157</nodeid>
    <dest_ip_addr>172.28.0.0</dest_ip_addr>
    <gw_ip_addr>172.19.193.254</gw_ip_addr>
    <subnet_mask>255.255.240.0</subnet_mask>
    <route_metric>1</route_metric>
    <pmtu>1500</pmtu>
    <route_dsc>Default Route MN</route_dsc>
  </ip_route>
  <ip_route>
    <nodeid>11157</nodeid>
    <dest_ip_addr>172.30.0.0</dest_ip_addr>
    <gw_ip_addr>172.19.193.254</gw_ip_addr>
    <subnet_mask>255.255.0.0</subnet_mask>
    <route_metric>1</route_metric>
    <pmtu>1500</pmtu>
    <route_dsc>Default razoj</route_dsc>
  </ip_route>
  <media_options>
    <nodeid>11157</nodeid>
  </media_options>
  <mn_sys_interface>
    <nodeid>11157</nodeid>
    <sys_intf_id>1</sys_intf_id>
    <sys_intf_name>conf-ta111</sys_intf_name>
  </mn_sys_interface>
  <mn_sys_interface>
    <nodeid>11157</nodeid>
    <sys_intf_id>2</sys_intf_id>
    <sys_intf_name>voice-ta111</sys_intf_name>
  </mn_sys_interface>
  <mn_sys_interface>
    <nodeid>11157</nodeid>
    <sys_intf_id>3</sys_intf_id>
    <sys_intf_name>proxy-ta111</sys_intf_name>
  </mn_sys_interface>
  <mn_sys_interface>
    <nodeid>11157</nodeid>
    <sys_intf_id>4</sys_intf_id>
    <sys_intf_name>voice-ta112</sys_intf_name>
  </mn_sys_interface>
  <mn_sys_interface>
    <nodeid>11157</nodeid>
    <sys_intf_id>5</sys_intf_id>
    <sys_intf_name>conf-ta112</sys_intf_name>
  </mn_sys_interface>
  <mn_sys_interface>
    <nodeid>11157</nodeid>
    <sys_intf_id>6</sys_intf_id>
    <sys_intf_name>proxy-ta112</sys_intf_name>
  </mn_sys_interface>
  <node_config>
    <nodeid>11157</nodeid>
    <node_name>ms111</node_name>
    <proxy_rtcp>0</proxy_rtcp>
  </node_config>
  <protocol_qos>
    <nodeid>11157</nodeid>
    <protocol_type>9</protocol_type>
    <dscp>26</dscp>
  </protocol_qos>
  <protocol_qos>
    <nodeid>11157</nodeid>
    <protocol_type>21</protocol_type>
    <dscp>46</dscp>
  </protocol_qos>
  <protocol_qos>
    <nodeid>11157</nodeid>
    <protocol_type>31</protocol_type>
    <dscp>18</dscp>
  </protocol_qos>
  <protocol_qos>
    <nodeid>11157</nodeid>
    <protocol_type>32</protocol_type>
    <dscp>18</dscp>
  </protocol_qos>
  <rtp_limit>
    <nodeid>11157</nodeid>
    <rtp_limit_type>9</rtp_limit_type>
    <rtp_limit_value>20</rtp_limit_value>
    <rtp_limit_alr_on>100</rtp_limit_alr_on>
    <rtp_limit_alr_off>90</rtp_limit_alr_off>
    <rtp_limit_sts_time>30</rtp_limit_sts_time>
    <rtp_limit_tm_valid>1603805307</rtp_limit_tm_valid>
    <rtp_limit_sts>320e88d41333ce358bde028f122db0b4</rtp_limit_sts>
  </rtp_limit>
  <rtp_quality>
    <nodeid>11157</nodeid>
    <test_type>0</test_type>
    <test_mode>1</test_mode>
    <test_cycle>5</test_cycle>
    <d_factor>10</d_factor>
    <j_factor>10</j_factor>
    <a_factor>0</a_factor>
    <r_warning_limit>40</r_warning_limit>
    <r_error_limit>36</r_error_limit>
    <r_error_filter>15</r_error_filter>
    <module_error_limit>10</module_error_limit>
    <voip_codec>8</voip_codec>
    <quality_profileid>1</quality_profileid>
    <rerl_warning_limit>15</rerl_warning_limit>
    <rerl_error_limit>5</rerl_error_limit>
  </rtp_quality>
  <rtp_quality>
    <nodeid>11157</nodeid>
    <test_type>1</test_type>
    <test_mode>1</test_mode>
    <test_cycle>5</test_cycle>
    <d_factor>10</d_factor>
    <j_factor>10</j_factor>
    <a_factor>0</a_factor>
    <r_warning_limit>40</r_warning_limit>
    <r_error_limit>36</r_error_limit>
    <r_error_filter>15</r_error_filter>
    <module_error_limit>10</module_error_limit>
    <voip_codec>9</voip_codec>
    <quality_profileid>2</quality_profileid>
    <rerl_warning_limit>15</rerl_warning_limit>
    <rerl_error_limit>5</rerl_error_limit>
  </rtp_quality>
  <rtp_quality>
    <nodeid>11157</nodeid>
    <test_type>13</test_type>
    <test_mode>1</test_mode>
    <test_cycle>5</test_cycle>
    <d_factor>10</d_factor>
    <j_factor>10</j_factor>
    <a_factor>0</a_factor>
    <r_warning_limit>40</r_warning_limit>
    <r_error_limit>36</r_error_limit>
    <r_error_filter>15</r_error_filter>
    <module_error_limit>10</module_error_limit>
    <voip_codec>16</voip_codec>
    <quality_profileid>14</quality_profileid>
    <rerl_warning_limit>15</rerl_warning_limit>
    <rerl_error_limit>5</rerl_error_limit>
  </rtp_quality>
  <rtp_quality>
    <nodeid>11157</nodeid>
    <test_type>6</test_type>
    <test_mode>1</test_mode>
    <test_cycle>5</test_cycle>
    <d_factor>10</d_factor>
    <j_factor>10</j_factor>
    <a_factor>0</a_factor>
    <r_warning_limit>37</r_warning_limit>
    <r_error_limit>33</r_error_limit>
    <r_error_filter>15</r_error_filter>
    <module_error_limit>10</module_error_limit>
    <voip_codec>67</voip_codec>
    <quality_profileid>7</quality_profileid>
    <rerl_warning_limit>15</rerl_warning_limit>
    <rerl_error_limit>5</rerl_error_limit>
  </rtp_quality>
  <rtp_quality>
    <nodeid>11157</nodeid>
    <test_type>7</test_type>
    <test_mode>1</test_mode>
    <test_cycle>5</test_cycle>
    <d_factor>10</d_factor>
    <j_factor>10</j_factor>
    <a_factor>0</a_factor>
    <r_warning_limit>34</r_warning_limit>
    <r_error_limit>31</r_error_limit>
    <r_error_filter>15</r_error_filter>
    <module_error_limit>10</module_error_limit>
    <voip_codec>68</voip_codec>
    <quality_profileid>8</quality_profileid>
    <rerl_warning_limit>15</rerl_warning_limit>
    <rerl_error_limit>5</rerl_error_limit>
  </rtp_quality>
  <sys_interface>
    <nodeid>11157</nodeid>
    <sys_intf_id>1</sys_intf_id>
    <sys_intf_type>14</sys_intf_type>
  </sys_interface>
  <sys_interface>
    <nodeid>11157</nodeid>
    <sys_intf_id>2</sys_intf_id>
    <sys_intf_type>14</sys_intf_type>
  </sys_interface>
  <sys_interface>
    <nodeid>11157</nodeid>
    <sys_intf_id>3</sys_intf_id>
    <sys_intf_type>14</sys_intf_type>
  </sys_interface>
  <sys_interface>
    <nodeid>11157</nodeid>
    <sys_intf_id>4</sys_intf_id>
    <sys_intf_type>14</sys_intf_type>
  </sys_interface>
  <sys_interface>
    <nodeid>11157</nodeid>
    <sys_intf_id>5</sys_intf_id>
    <sys_intf_type>14</sys_intf_type>
  </sys_interface>
  <sys_interface>
    <nodeid>11157</nodeid>
    <sys_intf_id>6</sys_intf_id>
    <sys_intf_type>14</sys_intf_type>
  </sys_interface>
  <test_program>
    <nodeid>11157</nodeid>
    <tescod>8</tescod>
    <tesnam>diskUsageTest</tesnam>
    <runmod>65</runmod>
    <testim>60000</testim>
    <mintime>10000</mintime>
    <maxtime>3600000</maxtime>
    <tessta>1</tessta>
    <runpri>1</runpri>
  </test_program>
  <test_program>
    <nodeid>11157</nodeid>
    <tescod>127</tescod>
    <tesnam>VXML_ASR_Test</tesnam>
    <runmod>65</runmod>
    <testim>52000</testim>
    <mintime>52000</mintime>
    <maxtime>52000</maxtime>
    <tessta>3</tessta>
    <runpri>1</runpri>
  </test_program>
  <test_program>
    <nodeid>11157</nodeid>
    <tescod>128</tescod>
    <tesnam>VXML_TTS_Test</tesnam>
    <runmod>65</runmod>
    <testim>52000</testim>
    <mintime>52000</mintime>
    <maxtime>52000</maxtime>
    <tessta>3</tessta>
    <runpri>1</runpri>
  </test_program>
  <test_program>
    <nodeid>11157</nodeid>
    <tescod>129</tescod>
    <tesnam>VXML_Proxy_Test</tesnam>
    <runmod>65</runmod>
    <testim>100000</testim>
    <mintime>100000</mintime>
    <maxtime>100000</maxtime>
    <tessta>1</tessta>
    <runpri>0</runpri>
  </test_program>
  <test_program>
    <nodeid>11157</nodeid>
    <tescod>132</tescod>
    <tesnam>VXML_Files_Test</tesnam>
    <runmod>65</runmod>
    <testim>60000</testim>
    <mintime>60000</mintime>
    <maxtime>60000</maxtime>
    <tessta>1</tessta>
    <runpri>2</runpri>
  </test_program>
  <test_program>
    <nodeid>11157</nodeid>
    <tescod>141</tescod>
    <tesnam>StartRTCP_data_control</tesnam>
    <runmod>65</runmod>
    <testim>1000</testim>
    <mintime>1000</mintime>
    <maxtime>1000</maxtime>
    <tessta>1</tessta>
    <runpri>1</runpri>
  </test_program>
  <test_program>
    <nodeid>11157</nodeid>
    <tescod>142</tescod>
    <tesnam>StartrtcpRtpControl</tesnam>
    <runmod>65</runmod>
    <testim>1000</testim>
    <mintime>1000</mintime>
    <maxtime>1000</maxtime>
    <tessta>1</tessta>
    <runpri>1</runpri>
  </test_program>
  <test_program>
    <nodeid>11157</nodeid>
    <tescod>255</tescod>
    <tesnam>NTPTest.sh</tesnam>
    <runmod>65</runmod>
    <testim>60000</testim>
    <mintime>60000</mintime>
    <maxtime>60000</maxtime>
    <tessta>1</tessta>
    <runpri>1</runpri>
  </test_program>
  <test_program>
    <nodeid>11157</nodeid>
    <tescod>257</tescod>
    <tesnam>syslogTest</tesnam>
    <runmod>65</runmod>
    <testim>60000</testim>
    <mintime>60000</mintime>
    <maxtime>120000</maxtime>
    <tessta>1</tessta>
    <runpri>1</runpri>
  </test_program>
  <test_program>
    <nodeid>11157</nodeid>
    <tescod>260</tescod>
    <tesnam>RegularSysParams</tesnam>
    <runmod>65</runmod>
    <testim>60000</testim>
    <mintime>10000</mintime>
    <maxtime>600000</maxtime>
    <tessta>1</tessta>
    <runpri>1</runpri>
  </test_program>
  <vxml_config>
    <nodeid>11157</nodeid>
    <dummy_pk>0</dummy_pk>
    <vxml_active>0</vxml_active>
    <vxml_sdl_debug>0</vxml_sdl_debug>
    <vxml_hsl_code_incl>1</vxml_hsl_code_incl>
    <drv_incl>1</drv_incl>
    <vxml_folder>/opt/si2000/neroot/active/ms_applmpu/vxml/ru_RU/DtdAndDefault/</vxml_folder>
    <fetch_timeout>30000</fetch_timeout>
    <input_mode>1</input_mode>
    <interdigit_timeout>2000</interdigit_timeout>
    <safe_caching>0</safe_caching>
    <term_dtmf_code>#</term_dtmf_code>
    <term_timeout>0</term_timeout>
    <noinput_timeout>6000</noinput_timeout>
    <js_memory_size>1000000</js_memory_size>
    <dmg_block_size>1024</dmg_block_size>
    <dmg_block_count>1024</dmg_block_count>
    <dmg_proxy_port>0</dmg_proxy_port>
    <dmg_thread_count>10</dmg_thread_count>
    <rec_final_silence>500</rec_final_silence>
    <rec_max_time>300</rec_max_time>
    <trans_conn_timeout>30000</trans_conn_timeout>
    <trans_call_maxtime>600</trans_call_maxtime>
    <bargein>1</bargein>
    <best_effort_level>100</best_effort_level>
    <lite_level_lc_nr>0</lite_level_lc_nr>
    <simple_level_lc_nr>0</simple_level_lc_nr>
    <medium_level_lc_nr>0</medium_level_lc_nr>
    <advanc_level_lc_nr>0</advanc_level_lc_nr>
    <full_level_lc_nr>0</full_level_lc_nr>
    <vxml_file_transfer>0</vxml_file_transfer>
    <vxmlmaxspeechtout>30</vxmlmaxspeechtout>
    <vxmlfetchaudiodly>3</vxmlfetchaudiodly>
    <vxmlfetchaudiomin>5</vxmlfetchaudiomin>
    <vxmlaudiomaxstale>300</vxmlaudiomaxstale>
    <vxmldocmaxstale>0</vxmldocmaxstale>
    <vxmlgrammaxstale>0</vxmlgrammaxstale>
    <vxmlscriptmaxstale>0</vxmlscriptmaxstale>
    <vxml_proxy_type>1</vxml_proxy_type>
  </vxml_config>
</config_root>