<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<system_root
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='system.xsd'>

     <disk_usage>
      <nodeid>2000</nodeid>
      <file_system_id>1</file_system_id>
      <file_system_name>/</file_system_name>
      <disk_size>0</disk_size>
      <free_space_low>10</free_space_low>
      <free_space_low_min>10</free_space_low_min>
      <free_space_low_max>50</free_space_low_max>
      <free_space_crit>3</free_space_crit>
      <free_space_mincrit>1</free_space_mincrit>
      <free_space_maxcrit>10</free_space_maxcrit>
      <free_space_current>0</free_space_current>
     </disk_usage>
      <disk_usage>
      <nodeid>2000</nodeid>
      <file_system_id>2</file_system_id>
      <file_system_name>/opt</file_system_name>
      <disk_size>0</disk_size>
      <free_space_low>20</free_space_low>
      <free_space_low_min>10</free_space_low_min>
      <free_space_low_max>50</free_space_low_max>
      <free_space_crit>10</free_space_crit>
      <free_space_mincrit>1</free_space_mincrit>
      <free_space_maxcrit>10</free_space_maxcrit>
      <free_space_current>0</free_space_current>
     </disk_usage>
      <disk_usage>
      <nodeid>2000</nodeid>
      <file_system_id>3</file_system_id>
      <file_system_name>/opt/si2000/mnroot</file_system_name>
      <disk_size>0</disk_size>
      <free_space_low>10</free_space_low>
      <free_space_low_min>10</free_space_low_min>
      <free_space_low_max>50</free_space_low_max>
      <free_space_crit>3</free_space_crit>
      <free_space_mincrit>1</free_space_mincrit>
      <free_space_maxcrit>10</free_space_maxcrit>
      <free_space_current>0</free_space_current>
     </disk_usage>
      <disk_usage>
      <nodeid>2000</nodeid>
      <file_system_id>4</file_system_id>
      <file_system_name>/opt/si2000/neroot/files</file_system_name>
      <disk_size>0</disk_size>
      <free_space_low>10</free_space_low>
      <free_space_low_min>10</free_space_low_min>
      <free_space_low_max>50</free_space_low_max>
      <free_space_crit>3</free_space_crit>
      <free_space_mincrit>1</free_space_mincrit>
      <free_space_maxcrit>10</free_space_maxcrit>
      <free_space_current>0</free_space_current>
     </disk_usage>
      <disk_usage>
      <nodeid>2000</nodeid>
      <file_system_id>5</file_system_id>
      <file_system_name>/var/volatile/log</file_system_name>
      <disk_size>0</disk_size>
      <free_space_low>10</free_space_low>
      <free_space_low_min>10</free_space_low_min>
      <free_space_low_max>50</free_space_low_max>
      <free_space_crit>5</free_space_crit>
      <free_space_mincrit>1</free_space_mincrit>
      <free_space_maxcrit>10</free_space_maxcrit>
      <free_space_current>0</free_space_current>
     </disk_usage>
      <disk_usage>
      <nodeid>2000</nodeid>
      <file_system_id>6</file_system_id>
      <file_system_name>/opt/si2000/neroot/vxml</file_system_name>
      <disk_size>0</disk_size>
      <free_space_low>10</free_space_low>
      <free_space_low_min>10</free_space_low_min>
      <free_space_low_max>50</free_space_low_max>
      <free_space_crit>3</free_space_crit>
      <free_space_mincrit>1</free_space_mincrit>
      <free_space_maxcrit>10</free_space_maxcrit>
      <free_space_current>0</free_space_current>
     </disk_usage>

     <test_error>
      <nodeid>2000</nodeid>
      <errcod>100010</errcod>
      <errpri>4</errpri>
      <errtype>5</errtype>
      <measure>31</measure>
      <measure_act>1</measure_act>
      <prob_cause>59</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>100170</errcod>
      <errpri>1</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>158</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>100200</errcod>
      <errpri>4</errpri>
      <errtype>4</errtype>
      <measure>2</measure>
      <measure_act>1</measure_act>
      <prob_cause>158</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>100210</errcod>
      <errpri>4</errpri>
      <errtype>4</errtype>
      <measure>2</measure>
      <measure_act>1</measure_act>
      <prob_cause>158</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>100220</errcod>
      <errpri>4</errpri>
      <errtype>4</errtype>
      <measure>2</measure>
      <measure_act>1</measure_act>
      <prob_cause>158</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>300230</errcod>
      <errpri>4</errpri>
      <errtype>1</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>26</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>300240</errcod>
      <errpri>4</errpri>
      <errtype>1</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>1024</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>500050</errcod>
      <errpri>3</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>156</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>600010</errcod>
      <errpri>2</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>151</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>600020</errcod>
      <errpri>1</errpri>
      <errtype>4</errtype>
      <measure>113</measure>
      <measure_act>1</measure_act>
      <prob_cause>151</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>600030</errcod>
      <errpri>2</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>161</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>600280</errcod>
      <errpri>2</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>151</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>600130</errcod>
      <errpri>1</errpri>
      <errtype>5</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>73</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>600290</errcod>
      <errpri>1</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>151</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>700050</errcod>
      <errpri>1</errpri>
      <errtype>5</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>69</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>700060</errcod>
      <errpri>3</errpri>
      <errtype>5</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>151</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>700070</errcod>
      <errpri>1</errpri>
      <errtype>5</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>151</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>700080</errcod>
      <errpri>1</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>202</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>800110</errcod>
      <errpri>2</errpri>
      <errtype>4</errtype>
      <measure>104</measure>
      <measure_act>1</measure_act>
      <prob_cause>156</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>1300010</errcod>
      <errpri>1</errpri>
      <errtype>5</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>70</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>1300030</errcod>
      <errpri>1</errpri>
      <errtype>5</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>70</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>1300040</errcod>
      <errpri>1</errpri>
      <errtype>5</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>163</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>1300060</errcod>
      <errpri>2</errpri>
      <errtype>5</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>70</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>1700250</errcod>
      <errpri>3</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>532</prob_cause>
     </test_error>
    <test_error>
      <nodeid>2000</nodeid>
      <errcod>1700260</errcod>
      <errpri>1</errpri>
      <errtype>2</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>10</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>1700280</errcod>
      <errpri>4</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>532</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>1700290</errcod>
      <errpri>1</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>532</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>1700300</errcod>
      <errpri>2</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>532</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>1700350</errcod>
      <errpri>1</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>532</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>1700400</errcod>
      <errpri>1</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>159</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>1700410</errcod>
      <errpri>4</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>532</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>2500120</errcod>
      <errpri>1</errpri>
      <errtype>8</errtype>
      <measure>1</measure>
      <measure_act>0</measure_act>
      <prob_cause>549</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>3100020</errcod>
      <errpri>3</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>165</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>3100030</errcod>
      <errpri>3</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>165</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>3100040</errcod>
      <errpri>4</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>165</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>3100050</errcod>
      <errpri>2</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>159</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>3300060</errcod>
      <errpri>2</errpri>
      <errtype>1</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>504</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>3300070</errcod>
      <errpri>2</errpri>
      <errtype>1</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>504</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>3300080</errcod>
      <errpri>2</errpri>
      <errtype>1</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>504</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>3500660</errcod>
      <errpri>2</errpri>
      <errtype>10</errtype>
      <measure>1</measure>
      <measure_act>0</measure_act>
      <prob_cause>1024</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>3500670</errcod>
      <errpri>1</errpri>
      <errtype>10</errtype>
      <measure>1</measure>
      <measure_act>0</measure_act>
      <prob_cause>614</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>3500680</errcod>
      <errpri>3</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>0</measure_act>
      <prob_cause>155</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>3500690</errcod>
      <errpri>2</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>0</measure_act>
      <prob_cause>155</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>500150</errcod>
      <errpri>1</errpri>
      <errtype>1</errtype>
      <measure>1</measure>
      <measure_act>0</measure_act>
      <prob_cause>159</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>900590</errcod>
      <errpri>2</errpri>
      <errtype>2</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>18</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>900600</errcod>
      <errpri>4</errpri>
      <errtype>2</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>18</prob_cause>
     </test_error>
     <test_error>
      <nodeid>2000</nodeid>
      <errcod>2900120</errcod>
      <errpri>1</errpri>
      <errtype>4</errtype>
      <measure>1</measure>
      <measure_act>1</measure_act>
      <prob_cause>159</prob_cause>
     </test_error>



</system_root>
